@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Merriweather";
    src: url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
}

.bg-nav {
    background-color: #1A635C;
}

.text-pdf {
    --text-tw-opacity: 1;
    color: #1A635C / var(--text-tw-opacity);
}

body {
    background-color: #135F5A;
}


