@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .bg-nav {
    background-color: #1A635C;
} */

.text-pdf {
    --text-tw-opacity: 1;
    color: #1A635C / var(--text-tw-opacity);
}

body {
    background-color: #135F5A;
}


